In [18]:
import pandas as pd
import numpy as np
df=pd.read_csv("Feature Transformation.csv")

In [17]:
df.head()

   Price
0    110
1    105
2    115
3    120
4    110

# 1) Normalization

In [28]:
min_Price=df.Price.min()

In [25]:
max_Price=df.Price.max()

In [26]:
min_Price

100

In [27]:
max_Price

150

In [29]:
df['Norma_Manual']=(df.Price-min_Price)/(max_Price-min_Price)

In [30]:
df

   Price  Norma_Manual
0    110           0.2
1    105           0.1
2    115           0.3
3    120           0.4
4    110           0.2
5    130           0.6
6    150           1.0
7    100           0.0
8    105           0.1

In [32]:
from sklearn.preprocessing import MinMaxScaler

In [33]:
mms=MinMaxScaler()

In [34]:
df['Norma_skLearn']=mms.fit_transform(df[['Price']])

In [35]:
df

   Price  Norma_Manual  Norma_skLearn
0    110           0.2            0.2
1    105           0.1            0.1
2    115           0.3            0.3
3    120           0.4            0.4
4    110           0.2            0.2
5    130           0.6            0.6
6    150           1.0            1.0
7    100           0.0            0.0
8    105           0.1            0.1

# 2) Standardization

In [43]:
mean_price=np.mean(df['Price'])

In [44]:
mean_price

116.11111111111111

In [47]:
std_price=df.Price.std(ddof=0)

In [48]:
std_price

14.677605348469896

In [49]:
df['Stand_Manual']=(df.Price-mean_price)/std_price
df

   Price  Norma_Manual  Norma_skLearn  Stand_Manual
0    110           0.2            0.2     -0.416356
1    105           0.1            0.1     -0.757011
2    115           0.3            0.3     -0.075701
3    120           0.4            0.4      0.264954
4    110           0.2            0.2     -0.416356
5    130           0.6            0.6      0.946264
6    150           1.0            1.0      2.308884
7    100           0.0            0.0     -1.097666
8    105           0.1            0.1     -0.757011

In [50]:
from sklearn.preprocessing import StandardScaler

In [51]:
sc=StandardScaler()

In [54]:
df['Stand_skLearn']=sc.fit_transform(df[['Price']])

In [55]:
df

   Price  Norma_Manual  Norma_skLearn  Stand_Manual  Stand_skLearn
0    110           0.2            0.2     -0.416356      -0.416356
1    105           0.1            0.1     -0.757011      -0.757011
2    115           0.3            0.3     -0.075701      -0.075701
3    120           0.4            0.4      0.264954       0.264954
4    110           0.2            0.2     -0.416356      -0.416356
5    130           0.6            0.6      0.946264       0.946264
6    150           1.0            1.0      2.308884       2.308884
7    100           0.0            0.0     -1.097666      -1.097666
8    105           0.1            0.1     -0.757011      -0.757011

# 3) Log Transformation

In [56]:
from sklearn.preprocessing import FunctionTransformer

In [57]:
fc=FunctionTransformer(np.log1p)

In [59]:
df['FC_Manual']=np.log1p(df[['Price']])
df

   Price  Norma_Manual  Norma_skLearn  Stand_Manual  Stand_skLearn  FC_Manual
0    110           0.2            0.2     -0.416356      -0.416356   4.709530
1    105           0.1            0.1     -0.757011      -0.757011   4.663439
2    115           0.3            0.3     -0.075701      -0.075701   4.753590
3    120           0.4            0.4      0.264954       0.264954   4.795791
4    110           0.2            0.2     -0.416356      -0.416356   4.709530
5    130           0.6            0.6      0.946264       0.946264   4.875197
6    150           1.0            1.0      2.308884       2.308884   5.017280
7    100           0.0            0.0     -1.097666      -1.097666   4.615121
8    105           0.1            0.1     -0.757011      -0.757011   4.663439

In [61]:
df['FC_skLearn']=fc.fit_transform(df[['Price']])
df

,Price,Norma_Manual,Norma_skLearn,Stand_Manual,Stand_skLearn,FC_Manual,FC_skLearn
0,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530
1,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439
2,115,0.3,0.3,-0.075701,-0.075701,4.753590,4.753590
3,120,0.4,0.4,0.264954,0.264954,4.795791,4.795791
4,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530
5,130,0.6,0.6,0.946264,0.946264,4.875197,4.875197
6,150,1.0,1.0,2.308884,2.308884,5.017280,5.017280
7,100,0.0,0.0,-1.097666,-1.097666,4.615121,4.615121
8,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439

# 4) Robust Scaler

In [62]:
Q75,Q25=np.percentile(df.Price,[75,25])

In [63]:
Q75

120.0

In [64]:
Q25

105.0

In [65]:
IQR=Q75-Q25
IQR

15.0

In [66]:
price_Med=np.median(df[['Price']])
price_Med

110.0

In [67]:
df['RS_Manual']=(df[['Price']]-price_Med)/IQR
df

,Price,Norma_Manual,Norma_skLearn,Stand_Manual,Stand_skLearn,FC_Manual,FC_skLearn,RS_Manual
0,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000
1,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333
2,115,0.3,0.3,-0.075701,-0.075701,4.753590,4.753590,0.333333
3,120,0.4,0.4,0.264954,0.264954,4.795791,4.795791,0.666667
4,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000
5,130,0.6,0.6,0.946264,0.946264,4.875197,4.875197,1.333333
6,150,1.0,1.0,2.308884,2.308884,5.017280,5.017280,2.666667
7,100,0.0,0.0,-1.097666,-1.097666,4.615121,4.615121,-0.666667
8,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333

In [68]:
from sklearn.preprocessing import RobustScaler

In [70]:
robust_sca=RobustScaler(quantile_range=(25.0, 75.0), with_centering=True)

In [71]:
df['RS_skLearn']=robust_sca.fit_transform(df[['Price']])

In [72]:
df

,Price,Norma_Manual,Norma_skLearn,Stand_Manual,Stand_skLearn,FC_Manual,FC_skLearn,RS_Manual,RS_skLearn
0,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000,0.000000
1,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333,-0.333333
2,115,0.3,0.3,-0.075701,-0.075701,4.753590,4.753590,0.333333,0.333333
3,120,0.4,0.4,0.264954,0.264954,4.795791,4.795791,0.666667,0.666667
4,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000,0.000000
5,130,0.6,0.6,0.946264,0.946264,4.875197,4.875197,1.333333,1.333333
6,150,1.0,1.0,2.308884,2.308884,5.017280,5.017280,2.666667,2.666667
7,100,0.0,0.0,-1.097666,-1.097666,4.615121,4.615121,-0.666667,-0.666667
8,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333,-0.333333

# 5) Max Absolute Scaler

In [73]:
df['Max_Abso_Manual'] = df.Price / df.Price.abs().max()

In [74]:
df

,Price,Norma_Manual,Norma_skLearn,Stand_Manual,Stand_skLearn,FC_Manual,FC_skLearn,RS_Manual,RS_skLearn,Max_Abso_Manual
0,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000,0.000000,0.733333
1,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333,-0.333333,0.700000
2,115,0.3,0.3,-0.075701,-0.075701,4.753590,4.753590,0.333333,0.333333,0.766667
3,120,0.4,0.4,0.264954,0.264954,4.795791,4.795791,0.666667,0.666667,0.800000
4,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000,0.000000,0.733333
5,130,0.6,0.6,0.946264,0.946264,4.875197,4.875197,1.333333,1.333333,0.866667
6,150,1.0,1.0,2.308884,2.308884,5.017280,5.017280,2.666667,2.666667,1.000000
7,100,0.0,0.0,-1.097666,-1.097666,4.615121,4.615121,-0.666667,-0.666667,0.666667
8,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333,-0.333333,0.700000

In [75]:
from sklearn.preprocessing import MaxAbsScaler

In [76]:
max_ab_s=MaxAbsScaler()

In [77]:
df['Max_Abso_skLearn']=max_ab_s.fit_transform(df[['Price']])

In [78]:
df

,Price,Norma_Manual,Norma_skLearn,Stand_Manual,Stand_skLearn,FC_Manual,FC_skLearn,RS_Manual,RS_skLearn,Max_Abso_Manual,Max_Abso_skLearn
0,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000,0.000000,0.733333,0.733333
1,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333,-0.333333,0.700000,0.700000
2,115,0.3,0.3,-0.075701,-0.075701,4.753590,4.753590,0.333333,0.333333,0.766667,0.766667
3,120,0.4,0.4,0.264954,0.264954,4.795791,4.795791,0.666667,0.666667,0.800000,0.800000
4,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000,0.000000,0.733333,0.733333
5,130,0.6,0.6,0.946264,0.946264,4.875197,4.875197,1.333333,1.333333,0.866667,0.866667
6,150,1.0,1.0,2.308884,2.308884,5.017280,5.017280,2.666667,2.666667,1.000000,1.000000
7,100,0.0,0.0,-1.097666,-1.097666,4.615121,4.615121,-0.666667,-0.666667,0.666667,0.666667
8,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333,-0.333333,0.700000,0.700000